<!DOCTYPE html>
<html>
<head>
    <title>AUV Пульт</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <table id="commandTable">
        <thead><tr><th>Depth</th><th>Yaw</th><th>Time (s)</th></tr></thead>
        <tbody><!-- JS заполнит --></tbody>
    </table>
    <button onclick="saveMission()">Сохранить миссию</button>
    <button onclick="startMission()">Запуск миссии</button>
    <button onclick="stopMission()">Экстренный стоп</button>
    <div id="telemetry">Данные датчиков...</div>
</body>
</html>